* {
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

#editModalToggle {
  display: none;
}

.content {
    padding: 30px 30px 0 0px;
    height: 100%;

    > * {
        margin-right: 30px;
    }
}

.create-btn {
  border-radius: 5px;
  width: 150px;
  background-color: #6bd098;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
}

.close {
  background-color: red;
  color: white;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-left: 4px;
}

mat-icon {
  font-family: 'Material Icons';
  position: relative;
  top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form div mat-form-field {
  margin-right: 20px;
}

@media screen and (max-width: 880px) {
    .mat-table {
      overflow-x: scroll;
    }

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;
        line-break: unset;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
}