<div class="content">
    <button class="create-btn" data-toggle="modal" data-target="#createCategoryModal" #createModalToggler>
        Create new category
    </button>

    <button id="editModalToggle" data-toggle="modal" data-target="#editCategoryModal" #editModalToggler></button>

    <div class="mat-elevation-8">
        <mat-table [dataSource]="tableBody" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let category">{{ category.id }}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let category">{{ category.description }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let category">
                    <button mat-icon-button (click)="showEditModal(category)"><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button (click)="onDeleteProduct(category)"><mat-icon color="warn">delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableHeaders"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>
</div>

<div id="createCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new category</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="createCategoryForm">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>

                        <mat-form-field>
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onCategoryCreate()">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="editCategoryModal" class="modal fade" role="dialog" #editModal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit category</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editCategoryForm">
                    <input formControlName="id" type="hidden">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onCategoryEdit()">Edit</button>
            </div>
        </div>
    </div>
</div>