<mat-card class="forgot-card" *ngIf="stage === sendEmailStage">

    <mat-card-content class="forgot-card__content">
        <h2 class="forgot-card__title">Enter email</h2>

        <form class="forgot-form" [formGroup]="sendEmailForm" (ngSubmit)="onSendEmail()">
            <mat-form-field class="form-field">
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail</mat-icon>

                <mat-error *ngIf="email.errors?.required && (email.touched || submitted)">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="email.errors?.email && (email.touched || submitted)">
                    Email is invalid.
                </mat-error>
                <mat-error *ngIf="email.errors?.badEmail && (email.touched || submitted)">
                    Email is unregistered.
                </mat-error>
            </mat-form-field>

            <button mat-button type="submit">Send mail</button>
        </form>
    </mat-card-content>

</mat-card>

<mat-card class="forgot-card" *ngIf="stage === sendKeyStage">

    <mat-card-content class="forgot-card__content">
        <h2 class="forgot-card__title">Enter key</h2>

        <form class="forgot-form" [formGroup]="sendKeyForm" (ngSubmit)="onSendKey()">
            <mat-form-field class="form-field">
                <input matInput placeholder="Key" formControlName="key">
                <mat-icon matSuffix>vpn_key</mat-icon>

                <mat-error *ngIf="key.errors?.required && (key.touched || submitted)">
                    Key is required.
                </mat-error>
                <mat-error *ngIf="key.errors?.badKey && (key.touched || submitted)">
                    Wrong key.
                </mat-error>
            </mat-form-field>

            <button mat-button type="submit">Send key</button>
        </form>
    </mat-card-content>

</mat-card>

<mat-card class="forgot-card" *ngIf="stage === changePasswordStage">

    <mat-card-content class="forgot-card__content">
        <h2 class="forgot-card__title">Enter new password</h2>

        <form class="forgot-form" [formGroup]="sendPasswordForm" (ngSubmit)="onSendPassword()">
            <mat-form-field class="form-field">
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-icon matSuffix>lock</mat-icon>

                <mat-error *ngIf="password.errors?.required && (key.touched || submitted)">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="password.errors?.minlength && (password.touched || submitted)">
                    Password must be at least {{ password.errors.minlength.requiredLength }} characters long.
                </mat-error>
            </mat-form-field>

            <button mat-button type="submit">Send password</button>
        </form>
    </mat-card-content>

</mat-card>
