<mat-card class="forgot-card">

    <mat-card-content class="forgot-card__content">
        <h2 class="forgot-card__title">Forgot password</h2>

        <form class="forgot-form" [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
            <mat-form-field class="email-field">
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail</mat-icon>

                <mat-error *ngIf="email.errors?.required && (email.touched || submitted)">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="email.errors?.email && (email.touched || submitted)">
                    Email is invalid.
                </mat-error>
            </mat-form-field>

            <button mat-button type="submit">Send mail</button>
        </form>
    </mat-card-content>

</mat-card>

