* {
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

#editModalToggle {
  display: none;
}

.content {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.create-btn {
  border-radius: 5px;
  width: 150px;
}

.close {
  background-color: red;
  color: white;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-left: 4px;
}

mat-icon {
  font-family: 'Material Icons';
  position: relative;
  top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form div mat-form-field {
  margin-right: 20px;
}

form div:last-of-type {
  align-items: center;
  justify-content: left;
  padding-left: 63px;
}

.mat-calendar {
  position: absolute !important;
  z-index: 99999 !important;
}
