<div class="content">
    <table class="content-table">
        <thead>
            <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Disabled</th>
            <th>Birthday date</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>dcode</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>
                    <i class="material-icons btn btn-icon btn-success">edit</i>

                    <i class="material-icons btn btn-icon btn-danger">delete</i>
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>
                    <i class="material-icons btn btn-icon btn-success">edit</i>

                    <i class="material-icons btn btn-icon btn-danger">delete</i>
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>
                    <i class="material-icons btn btn-icon btn-success">edit</i>

                    <i class="material-icons btn btn-icon btn-danger">delete</i>
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>88,110</td>
                <td>dcode</td>
                <td>Domenic</td>
                <td>
                    <i class="material-icons btn btn-icon btn-success">edit</i>

                    <i class="material-icons btn btn-icon btn-danger">delete</i>
                </td>
            </tr>

        </tbody>
    </table>
</div>