<a [routerLink]="['/']">
  <h1>My Store</h1>
</a>
<a [routerLink]="['/shop', 'category']">
  <h1>Category</h1>
</a>
<a [routerLink]="['/about']">
  <h1>About</h1>
</a>
<a [routerLink]="['/contact']">
  <h1>Contact Us</h1>
</a>

<!-- <a [routerLink]="['/auth', 'login']">
  <h1>Login</h1>
</a>
<a [routerLink]="['/auth', 'register']">
  <h1>Register</h1>
</a>
<a [routerLink]="['/cart']" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a> -->

<div class="user" [matMenuTriggerFor]="menu">
  <mat-icon class="user-icon">person</mat-icon>
  <span>
    Dory
  </span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>LogOut</button>
  </mat-menu>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->