.user {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-icon {
    color: #fff;
}

.user span {
    color: #fff;
    margin-left: 10px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/