.example-card {
    max-width: 300px;
    box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0.2);
    padding: 36px;
    text-align: center;
    background-color: #f1f1f1;
  }

.img{
  max-width: 250px;
  max-height: 250px;
}
.column {
    float: left;
    width: 25%;
    padding: 30px 10px 10px;
  }
  /* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 300px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 200px auto;
}

main {
  padding: 0 20px 20px 20px;
}

main nav {
  display: flex;
  justify-content: center;
}

.list-group-item.active {
  background-image: none;
  border-color: #7de8a1;
  background-color: #7de8a1;
  font-family: 'Roboto', Arial, sans-serif;
  text-shadow: none;
}

.list-group-item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item > ul {
  list-style: none;
  padding: 0;
  padding-left: 5px;
}

.list-group-item > ul li {
  padding: 5px 0;
}

.list-group-item > ul li a {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
}

.products {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.thumbnail {
  padding: 10px;
  position: relative;
}

.thumbnail .img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumbnail img {
  text-align: center;
  height: 160px;
  margin-bottom: 20px;
}

.thumbnail h3 {
  padding: 0;
  margin: 0;
}

.price {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.without-discount {
  margin-top: 20px;
  color: #a6a5a5;
  text-decoration: line-through;
  font-size: 14px;
}

.discount-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-price h3 {
  color: #f84147;
}

.available span, 
mat-icon {
  color: #7de8a1;
}

.available {
  margin-top: 5px;
}

mat-icon { 
  cursor: pointer;
}

.thumbnail ul {
  display: none;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.thumbnail ul li span {
  margin-right: 4px;
  color: #797878;
}

.thumbnail:hover {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

.thumbnail:hover ul {
  display: block;
}
