:host,
img {
    position: relative;
    height: 100%;
    width: 100%;
}

:host:hover .buttons {
    display: block;
}

.buttons {
    display: none;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}