.products {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail {
  padding: 10px;
  position: relative;
}

.thumbnail .img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumbnail img {
  text-align: center;
  height: 160px;
  margin-bottom: 20px;
}

.thumbnail h3 {
  padding: 0;
  margin: 0;
}

.price {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.without-discount {
  margin-top: 20px;
  color: #a6a5a5;
  text-decoration: line-through;
  font-size: 14px;
}

.discount-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-price h3 {
  color: #f84147;
}

.available span, 
mat-icon {
  color: #7de8a1;
}

.available {
  margin-top: 5px;
}

mat-icon { 
  cursor: pointer;
}

.thumbnail ul {
  display: none;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.thumbnail ul li span {
  margin-right: 4px;
  color: #797878;
}

.thumbnail:hover {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
}

.thumbnail:hover ul {
  display: block;
}
