<div class="wrapper">
    <aside class="list-group">
        <a class="list-group-item active" [routerLink]="['/shop/category']">
            Categories
        </a>

        <a 
            class="list-group-item" 
            *ngFor="let category of categories;let i = index" 
        >
            <div>
                <span [routerLink]="['/shop/category', category.id]">{{ category.name }}</span>
                <mat-icon 
                    *ngIf="category.subCategories.length > 0"
                    data-toggle="collapse" [attr.data-target]="'#subCategories' + i"
                >
                    add
                </mat-icon>
            </div>

            <ul class="collapse" id="subCategories{{i}}" *ngIf="category.subCategories.length > 0">
                <li *ngFor="let subCategory of category.subCategories">
                    <a [routerLink]="['/shop/sub-category', subCategory.id]">
                        {{ subCategory.name }}
                    </a>
                </li>
            </ul>
        </a>
    </aside>

    <main>
        <div class="products">
            <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </div>

        <app-pagination 
            *ngIf="products"
            [pages]="pages"     
            [page]="page"
        >
        </app-pagination>
    </main>
</div>
