.forgot-card {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgot-card__content {
    padding: 20px;
    text-align: center;
}

.forgot-card__title {
    font-size: 30px;
    margin: 0 0 15px 0;
}

.form-field {
    width: 60%;
    margin-right: 50px;
}