.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.main-panel {
    position: relative;
    background-color: #f4f3ef;
    width: calc(100% - 260px);
    float: right;
    height: 100vh;
}
