<div class="wrapper">
    <mat-sidenav-container>

        <mat-sidenav 
            #sidebar
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [opened]="!mobileQuery.matches"
        >
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="inner">
                <button mat-icon-button class="hamburger" (click)="sidebar.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
