.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav-container {
        flex: 1;
        
        mat-sidenav {
            flex: 1 0 auto;
        }
    }

    mat-sidenav-content {
        .inner {
            display: flex;

            .hamburger {
                margin: {
                    top: 5px;
                    left: 5px;
                };
            }

            .content {
                height: 100%;
                width: 100%;
            }
        }
    }
}
